<div class="d-flex align-items-baseline gap-3 mb-3">
  <label for="searchInput" class="form-label fw-bold text-nowrap">Filter by Last Name</label>
  <input type="text" class="form-control form-control-sm" id="searchInput" aria-describedby="Filter by Last Name" [(ngModel)]="term">
  <button class="btn btn-secondary btn-sm rounded-pill px-4" title="Filter" (click)="filterByLastName()"><i-bs name="funnel" ></i-bs></button>
  <button class="btn btn-warning btn-sm rounded-pill px-4 text-nowrap" title="Clear Filter" (click)="clearFilter()">Clear Filter</button>
</div>
