<div>
  <div>
    <span>First Name:</span><span>{{user.firstName}}</span>
  </div>
  <div>
    <span>Last Name:</span><span>{{user.lastName}}</span>
  </div>
</div>


<app-dialog-window></app-dialog-window>

Dialog title:<input type="text" [(ngModel)]="title"> <br>
Dialog message:<input type="text" [(ngModel)]="message"> <br>

<br>

<button (click)="showModalOkWindow()">Show Dialog Ok</button>
<button (click)="showModalCancelOkWindow()">Show Dialog Cancel Ok </button>

<br> <br>

<button (click)="showModalAndCloseWindow()">Show and close Dialog automatically</button>
