<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-xl-10 ">
      <div class="row mt-3">
        <div class="col-12">
          <div class="row">
            <div class="col-8">
              <app-search-bar></app-search-bar>
            </div>
            <div class="col-4">
              <div class="d-flex justify-content-end ">
                <button type="button" class="btn btn-primary btn-sm  rounded-pill px-3" title="Add Contact" data-bs-toggle="modal" data-bs-target="#addModal">Add Contact</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <app-table [userList]="users$ | async"></app-table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Contact Modal -->
<app-modal-add></app-modal-add>



