<div class="modal fade" id="addModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <form (ngSubmit)="saveForm()" [formGroup]="contactForm" >
        <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">Create Contact</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForm()" #closebutton></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12 mb-3">
                    <input type="text" class="form-control" id="contactName" placeholder="First Name" formControlName="firstname">
                    <div class="invalid-feedback d-block" *ngIf="contactForm.get('firstname').hasError('required')&&contactForm.get('firstname').dirty">Please enter your first name.</div>
                    <div class="invalid-feedback d-block" *ngIf="contactForm.get('firstname').hasError('pattern')">First name must be text only.</div>
                    <div class="invalid-feedback d-block" *ngIf="contactForm.get('firstname').hasError('minlength')">Please enter your first name.</div>
                </div>
                <div class="col-12 mb-3">
                    <input type="text" class="form-control" id="contactLastName" placeholder="Last Name" formControlName="lastname">
                    <div class="invalid-feedback d-block" *ngIf="contactForm.get('lastname').hasError('required')&&contactForm.get('lastname').dirty">Please enter your last name.</div>
                    <div class="invalid-feedback d-block" *ngIf="contactForm.get('lastname').hasError('pattern')">Last name must be text only.</div>
                    <div class="invalid-feedback d-block" *ngIf="contactForm.get('lastname').hasError('minlength')">Please enter your last name.</div>
                </div>
                <div class="col-12 mb-3">
                    <input type="email" class="form-control" id="contactMail" placeholder="Email Address" formControlName="email">
                    <div class="invalid-feedback d-block" *ngIf="contactForm.get('email').hasError('required')&&contactForm.get('email').dirty">Email is required.</div>
                    <div class="invalid-feedback d-block" *ngIf="contactForm.get('email').hasError('pattern')">Please enter a valid email.</div>
                </div>
                <div class="col-12 mb-3">
                    <input type="text" class="form-control" id="contactPhone" placeholder="Phone Number" mask="(000) 000 00 00" formControlName="phone">
                    <div class="invalid-feedback d-block" *ngIf="contactForm.get('phone').hasError('required')&&contactForm.get('phone').dirty">Phone number is required.</div>
                    <div class="invalid-feedback d-block" *ngIf="contactForm.get('phone').hasError('pattern')">Please enter a valid phone number.</div>
                    <div class="invalid-feedback d-block" *ngIf="contactForm.get('phone').hasError('minlength')||contactForm.get('phone').hasError('maxlength')">The phone number must be 10 characters.</div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForm()">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="!this.contactForm.valid">Save</button>
        </div>
    </form>
    </div>
  </div>
</div>
