<table class="table table-striped table-hover " *ngIf="userList.length">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" [appSort]="userList" data-order="desc" data-name="firstName" class="hover-gold cpointer">First Name<i-bs name="sort-down" class="ms-2"></i-bs></th>
      <th scope="col" [appSort]="userList" data-order="desc" data-name="lastName" class="hover-gold cpointer">Last Name<i-bs name="sort-down" class="ms-2"></i-bs></th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userList; let i = index">
      <th scope="row">{{i+1}}</th>
      <td><a routerLink="/detail/{{i+1}}">{{user.firstName}}</a></td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
    </tr>
  </tbody>
</table>




